/* line 22, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
body {
  font-family: 'Kanit', sans-serif;
}

/* line 26, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 0px;
  background-image: linear-gradient(to right, #c4c4c4, #56181A);
  height: 80px;
}

/* line 33, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .dvlogotipo {
  width: 368px;
}

/* line 36, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .logo {
  width: 90px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* line 42, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .w-logo {
  font-size: 35px;
  margin-left: -10px;
}

/* line 46, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .dvmenu {
  height: 100%;
}

@media (max-width: 900px) {
  /* line 46, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .header .dvmenu {
    display: none;
  }
}

/* line 52, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .menu {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

/* line 57, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .menu li {
  margin: 20px;
  font-size: 16px;
  color: #c4c4c4;
  cursor: pointer;
}

/* line 63, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.header .menu a {
  text-decoration: none;
}

/* line 69, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* line 75, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* line 79, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid-perfil {
  grid-column-start: 2;
  grid-column-end: 12;
}

/* line 84, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* line 88, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid-section .perfil .titulo {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 10;
}

/* line 93, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.grid-section .perfil .titulo h1 {
  font-size: 85px;
  font-weight: 400;
  line-height: 85px;
  width: 750px;
}

@media (max-width: 1095px) {
  /* line 93, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .grid-section .perfil .titulo h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
  }
}

@media (max-width: 1095px) {
  /* line 87, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .grid-section .perfil {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

/* line 113, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.item {
  display: flex;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 10;
  color: #8d8d8d;
  margin-top: 14px;
}

/* line 121, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.item p {
  margin: 5px 10px 0px 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
}

/* line 126, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.item img {
  width: 25px;
  height: 25px;
  margin-top: 12px;
}

/* line 133, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.foto-perfil {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
}

@media (max-width: 1095px) {
  /* line 133, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .foto-perfil {
    display: none;
  }
}

/* line 141, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.foto-perfil .foto-perfil-png {
  margin-top: -10px;
  margin-left: 15px;
}

/* line 147, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.linha {
  display: block;
  height: 5px;
  background-color: #56181A;
  grid-column-start: 2;
  grid-column-end: 12;
}

/* line 155, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio {
  margin-top: 40px;
}

/* line 156, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projetos {
  display: flex;
  flex-direction: column;
}

/* line 161, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .dvportifolio {
  grid-column-start: 2;
  grid-column-end: 12;
  font-size: 35px;
  color: #56181A;
}

/* line 167, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto {
  justify-content: left;
  grid-column-start: 2;
  grid-column-end: 12;
  background-color: #c4c4c4;
  display: flex;
  position: relative;
}

@media (max-width: 1185px) {
  /* line 167, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .portifolio .projeto {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* line 178, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto .port {
  margin: 15px 15px 15px 10px;
}

@media (max-width: 900px) {
  /* line 178, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .portifolio .projeto .port {
    width: 90%;
  }
}

/* line 184, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p {
  font-size: 28px;
  margin: 10px;
  width: 550px;
  margin: 40px 10px 10px 10px;
}

@media (max-width: 1185px) {
  /* line 184, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
  .portifolio .projeto p {
    text-align: center;
  }
}

/* line 192, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p span {
  color: #56181A;
  font-weight: 600;
}

/* line 196, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span1 {
  display: block;
  margin: 50px 10px 10px 0px;
}

/* line 199, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span1 a {
  color: #56181A;
  font-weight: 500;
  padding: 5px;
}

/* line 204, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span1 a:hover {
  background-color: #8d8d8d;
  border-radius: 5px;
}

/* line 209, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span2 {
  display: block;
  margin: 80px 10px 10px 0px;
}

/* line 212, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span2 a {
  color: #56181A;
  font-weight: 500;
  padding: 5px;
}

/* line 217, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span2 a:hover {
  background-color: #8d8d8d;
  border-radius: 5px;
}

/* line 222, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span3 {
  display: block;
  margin: 0px 10px 10px 0px;
}

/* line 225, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span3 a {
  color: #56181A;
  font-weight: 500;
  padding: 5px;
}

/* line 230, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto p .span3 a:hover {
  background-color: #8d8d8d;
  border-radius: 5px;
}

/* line 236, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
.portifolio .projeto .logosvg {
  position: absolute;
  display: flex;
  right: 0;
  margin-top: -5px;
  margin-right: -20px;
}

/* line 246, ../../Desktop/aulas/aulaGridComBootstrap/style/scss/style.scss */
#footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4;
}

/*# sourceMappingURL=style.css.map */